@import "~bootstrap/scss/bootstrap.scss";

.centered-on-window{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 750px;
}

.light-selected{
  box-shadow: #fffecc 0px 0px 20px 30px;
}

.light {
    width: 100px;
    height: 100px;
    margin: auto; /* se autocentra dentro del padre */
    cursor: pointer;
}